.ruka{
    cursor: pointer;
    font-weight: bold;
    color: #922145
}

.desno{
    text-align: right;
}

.siroko{
    width: 100%;
}

.akcije{
    margin-top: 20px;
}

.sredina{
    text-align: center;
  }